.header{
    display: flex;
}
.navigim{
    color: coral;
}
#butoni{
    padding: 2px;
    border-radius: 5px;
}
table, th, td{ 
     border: 1px solid black;
}
th{
    background-color: cornflowerblue;
}
#cmimi{
    text-align: right;
}
td{
    padding: 10px;
}